* {background-color: tan; font-size: 14px;}
ul {padding-left: 25px; list-style: square; color: maroon;}
ol {padding-left: 25px; list-style: upper-roman; color: maroon;}
body {color: navy; text-align: left;}
h1 {color: navy; font-size: 32px;}
